<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Sign up page</h1>
    <ul></ul>
    <form action="{{ url_for('signup') }}">
      <label for="email">Email:</label><br />
      <input
        id="email"
        type="text"
        name="email"
        placeholder="jhon.wick@gmail.com"
      /><br />

      <label for="password">Password:</label><br />
      <input
        id="password"
        type="password"
        name="password"
        placeholder="************"
      /><br />
      <input type="submit" value="Sign Up" />
    </form>
  </body>
</html>
